{% extends "layouts/layout.html" %}
{% block head %}
<script>
$(function(){
  $('.sparkline').sparkline('html', {type: 'line', width: '200', fillColor: 'white', lineColor: 'black' });
});
</script>
{% endblock %}

{% from 'macros/admin_nav.html' import admin_nav with context %}
{% block body %}
<div class="container">
  {{ admin_nav("users") }}
  {{ flash() }}
  <div>
    <div class="users">
      <table class="table table-condensed">
        <tbody>
          {% for user in users %}
          <tr>
            <td>
              {% if not user.is_confirmed %}<i class="icon-ban-circle"></i>{% endif %}
              {% if user.is_admin %}<span class="label">A</span>{% endif %}
              <a href="/users/{{ user.id }}/edit">{{ user.email }}</a>
            </td>

            <td>
              <span class="sparkline">{{ user.last_30_days_str() }}</span>
            </td>

            <td>
              <tt>
                <a href="{{ url_for('tracker.show', auth_token=user.auth_token) }}">
                  {{ '%0.2f' % user.wq() }}
                </a>
                W.Q.
              </tt>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
