{% extends "layouts/layout.html" %}
{% block body %}
<div class="container">

  <div class="well">
    <h2>All Users of Marion Health</h2>
    <div class="users" style="margin-top: 50px;">
      <table class="table">
        <thead>
          <tr>
            <th>Email</th>
            <th>Authentication Token</th>
            <th>Approval</th>
            <th>Delete</th>
            <th>Update Email</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>
              {% if user.is_confirmed %}
              <i class="icon-check"></i>
              {% else %}
              <i class="icon-remove"></i>
              {% endif %}
              <a href="mailto:{{user.email}}">{{ user.email }}</a>
              {% if user.is_admin %}<span class="label label-info">admin</span>{% endif %}
            </td>
            <td>
              <tt>{{ user.auth_token }}</tt>
              <form style="display:inline-block;" action="/users/reset_auth" method="post">
                <input type="hidden" name="user_id" value="{{user.id}}">
                <input type="hidden" name="auth_token" value="{{auth_token}}">
                <input class="btn btn-warning btn-mini" value="reset" type="submit">
              </form>
            </td>
            <td>
              <form style="display:inline-block;" action="/users/toggle_approve" method="post">
                <input type="hidden" name="user_id" value="{{user.id}}">
                <input type="hidden" name="auth_token" value="{{auth_token}}">
                {% if not user.is_approved %}
                <input class="btn btn-primary btn-mini" value="Approve" type="submit">
                {% else %}
                <input class="btn btn-warning btn-mini" value="Unapprove" type="submit">
                {% endif %}
              </form>
            </td>
            <td>
              <form style="display:inline-block;" action="/users/delete" method="post"><input type="hidden" name="user_id" value="{{user.id}}"><input type="hidden" name="auth_token" value="{{auth_token}}"><input class="btn btn-danger btn-mini" value="Delete" type="submit"></form>
            </td>
            <td>
              <form style="display:inline-block;" action="/users/send_update_email" method="post"><input type="hidden" name="user_id" value="{{user.id}}"><input type="hidden" name="auth_token" value="{{auth_token}}"><input class="btn btn-primary btn-mini" value="Send Status Update Email" type="submit"></form>
              <a href="/tracker?auth_token={{user.auth_token}}">
                <span class="badge badge-info">{{ user.statuses.all()|length }}</span>
              </a>

            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
