{% extends "layouts/layout.html" %}
{% block head %}
<script>
$(function(){
  // Remove question from the user
  $(".remove").click(function(){
    $.ajax("/users/question?auth_token={{auth_token}}&user_id={{user.id}}&question_id="+$(this).data("id"), {type: "DELETE"})
          .done(function(){window.location = "";});
  });

  // Add question to the user
  $(".add").click(function(){
    $.ajax("/users/question", {type: "POST", data: {auth_token: "{{auth_token}}", user_id: "{{ user.id }}", question_id: $(this).data("id")}})
          .done(function(){window.location = "";});
  });
});
</script>
{% endblock %}
{% block body %}
<div class="container">

  <div class="well">
    <h2>{{ user.email }}</h2>
    
    <div style="margin-top: 50px;">
      <table id="questions" class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Text</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          {% for question in questions %}
          <tr>
            <td>
              {{ question.name }}
            </td>
            <td>
              {{ question.text }}
            </td>
            <td>
              {% if question in user.questions %}
              <button class="btn btn-danger remove" data-id="{{ question.id }}">Remove</button> <!-- TK TODO -->
              {% else %}
              <button class="btn btn-primary add" data-id="{{ question.id }}">Add</button> <!-- TK TODO -->
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
