{% extends "layouts/layout.html" %}
{% block head %}
<script>
$(function(){
  // Remove question from the user
  $(".remove").click(function(){
    $.ajax("/users/question?auth_token={{auth_token}}&user_id={{user.id}}&question_id="+$(this).data("id"), {type: "DELETE"})
          .done(function(){window.location = "";});
  });


  // Add question to the user
  $(".add").click(function(){
    $.ajax("/users/question",
           {type: "POST",
            data: {auth_token: "{{auth_token}}",
                   user_id: "{{ user.id }}",
                   question_id: $(this).data("id")}})
          .done(function(){window.location = "";});
  });


  // Update user (with form)
  // ... TK TODO
  $(".update-user").click(function(event){
    console.log($("form").serialize());
    $.ajax("/users/{{user.id}}",
      {
       type: "PUT",
       data: $("form").serialize(),
       success: function () { window.location = ""; },
      });
    return false;
  });
});
</script>
{% endblock %}
{% block body %}
<div class="container ">

  <div class="well">
    <h2>{{ user.name or "" }}{{ " :: " if user.name else "" }}{{ user.email }}</h2>

    <form class="form-horizontal">
      <input type="text" name="name" placeholder="full name" value="{{ user.name or "" }}">
      <input type="hidden" name="auth_token" value="{{ auth_token }}">
      <select type="text" name="timezone">
        <option>~</option>
        {% for timezone in timezones %}
        <option {% if timezone == user.timezone -%}selected="selected"{%- endif %}>{{ timezone }}</option>
        {% endfor %}
      </select>
      <textarea name="notes" placeholder="notes/condition">{{ user.notes or "" }}</textarea>
      <button class="btn update-user">Update</button>
    </form>

    <div>
      <p>
        {{ user.name or user.email }} has <a href="/tracker?auth_token={{user.auth_token}}"><span class="badge badge-info">{{ user.answers.all() | length }}</span></a> updates so far.
      </p>
      <p>
        {{ user.name or user.email }} has {{ "confirmed" if user.is_confirmed else "not confirmed" }} their email.
      </p>
      <p>
        <a class="btn btn-mini"
           data-action-url="{{ url_for('user.toggle_approve', user_id=user.id, auth_token=auth_token) }}"
           data-action-method="POST"
           data-confirm="Are you sure you want to {{ 'unapprove' if user.is_approved else 'approve' }} {{ user.email }}?">
          {{ 'Unapprove' if user.is_approved else 'Approve' }}
        </a>

        <a class="btn btn-mini"
           data-action-url="{{ url_for('user.update_email', user_id=user.id, auth_token=auth_token) }}"
           data-action-method="POST"
           data-confirm="Send update email?">
          Send Update Email
        </a>

        <a class="btn btn-mini btn-danger"
           data-action-url="{{ url_for('user.delete', user_id=user.id, auth_token=auth_token) }}"
           data-action-method="DELETE"
           data-confirm="Are you sure you want to delete this user permenantly?">
          Delete User
        </a>
      </p>
    </div>


    
    <div style="margin: 50px 0 20px 0; ">
      <h4> Questions </h4>
      <table id="questions" class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Text</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          {% for question in questions %}
          <tr>
            <td>
              {{ question.name }}
            </td>
            <td>
              {{ question.text }}
            </td>
            <td>
              {% if question in user.questions %}
              <button class="btn btn-danger remove" data-id="{{ question.id }}">Remove</button> <!-- TK TODO -->
              {% else %}
              <button class="btn btn-primary add" data-id="{{ question.id }}">Add</button> <!-- TK TODO -->
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
</div>
{% endblock %}
