{% macro flash(close=True) -%}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {% if close %}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {% endif %}
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
{%- endmacro %}

{% macro navbar(active) -%}
<ul class="nav nav-tabs" id="admin-nav">
  <li class="{{ "active" if active == "papers" else "" }}">
    <a href="{{ url_for('user.home') }}">Your Papers</a>
  </li>
  <li class="{{ "active" if active == "activity" else "" }}">
    <a href="{{ url_for('tracker.show', auth_token=current_user.auth_token) }}">
      Activity
    </a>
  </li>
  <li class="pull-right">
    <a href="{{url_for('user.logout')}}">Logout</a>
  </li>
</ul>
{%- endmacro %}
