{% macro user_nav(active) -%}
<ul class="nav nav-tabs" id="admin-nav">
  <li class="{{ "active" if active == "home" else "" }}">
    <a href="{{ url_for('user.home') }}">Your Profile</a>
  </li>
  <li class="{{ "active" if active == "tracker" else "" }}">
    <a href="{{ url_for('tracker.show', auth_token=current_user.auth_token) }}">
      Your Data
    </a>
  </li>
  <!-- <li> -->
  <!--   <a href=""></a> -->
  <!-- </li> -->
  <li class="pull-right">
    <a href="{{url_for('user.logout')}}">Logout</a>
  </li>
</ul>
{%- endmacro %}
