{% extends "layout.html" %}
{% block body %}
<div class="wrapper">

  <header>
    <div class="logo" title="A Marion berry."></div>
  </header>

  <section class="sign-up">
    <h1>Marion Health</h1>
    <p class="lead">Start feeling better, today.</p>
    
      {% include "flash.html" %}

      <form action="/sign-up" method="post" class="form">
        <label>Your Email</label>
        <input type="text" placeholder="youremail@example.com" name="email" autofocus/>  
        <br>
        <input type="submit" name="submit" 
               value="Start Feeling Better" class="btn btn-success  btn-large"/>
      </form>
  </section>

  <section id="graph">
    <h3>Track Your Health: See What works</h3>
    <p>We'll show you how choices you make change the way that you feel. See how sleep affects you, or how exercising helps you, or how taking your medication controls your disease, even if just by a little at first.</p>
    <ul>
      <li>Add or remove questions</li>
      <li>Have them asked daily, or once a week</li>
      <li>We'll make graphs to show you the differences</li>
      <li>And more every day... <a href="mailto:isaachodes@gmail.com">let us know what you want!</a></li>
    </ul>
    <img src="/static/img/graph.png"/>
  </section>

  <section id="progress">
    <h3>Get Points for Tracking Your Health</h3>
    <img src="/static/img/progress.png"/>
    <ul>
      <li>As you record you health, get points</li>
      <li>We will be adding rewards as we can</li>
      <li>You will compete against your illness</li>
      <li>And, of course, badges are awesome</li>
    </ul>
    <p>
      These points are just for fun right now, but we hope to add rewards from sponsors in the near future. We'll also be allowing people with different illnesses to compete with one another; who takes the best care of themselves! In the meantime, you can compete against yourself!
    </p>
  </section>
  
  <footer>
    <ul class="pull-right">
      <li><a href="/privacy-policy">Privacy Policy</a></li>
      <li><a href="/terms-of-service">Terms of Service</a></li>
      <li><a href="/about-us">About Us</a></li>
      <li><a href="/contact-us">Contact Us</a></li>
    </ul>
  </footer>
</div>

{% endblock %}
