{% extends "layout.html" %}
{% block body %}
<div class="section-container">
  <div class="container-top">
    <div class="sign-up">
      <div class="wordmark">HealthTracker</div>
      <p class="lead">
        We'll send you a daily email asking you how you are: track your health to see what you can do to feel well.
      </p>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
      {% endwith %}
      <form action="/subscribe" method="post" class="form well">
        <input type="text" placeholder="jane.doe@example.com" name="email" autofocus/>  
        <input type="submit" name="submit" 
               value="Start Tracking Now" class="btn btn-success btn-block btn-large"/>
      </form>
      <small class="muted privacy-notice">
  Note, this website is in alpha and not open to the public. The information you submit to HealthTracr is not secured to HIPPA's standards, and may be read by us (Healthtracr).
      </small>
    </div>
  </div>
</div>

<div class="section-container row span12">
  <div class="container-middle">
    <h1>For ACOs & other Healthcare Providers</h1>
    <div class="span4">
      <h3>Increase patient adherence</h3>
      Patients want to get better, and making them feel better is what your doctors are trying to accomplish. But we know that it can sometimes be difficult to keep patients on track with their treatment. HealthTracker makes it easy to maintain cost-effective contact with patients, increasing adherence while teaching them about how their healthare plan is affecting their health, even when it can be hard to see. 
    </div>
    <div class="span4">
      <h3>Improve health outcomes</h3>
      Adherence is a very important step in improving your patients' outcomes, but there's more we can do. Your doctors will be able to keep up with their patients' health in real-time. Our Smart Alert system will notify doctors of declining (or improving health), and enable you to reach out in time to prevent to tweak their treatment in time to prevent a costly emergency intervention. The more you know, the better you can take care of your patient population.
    </div>
    <div class="span4">
      <h3>Provide more value</h3>
      Your patients trust their doctors with their lives, every day. Now you can show them out their lifestyle choices and treatment plan affects how they feel. Chronically ill patients are living with their illness every day of their lives; now they can see how each day is an improvement on the previous, and take more of an active role in improve their health. It's easier to make difficult lifestyle choices such as sticking to a diet when you can't see the results. HealthTracker makes those results visible.
    </div>
    <div class="span4 learn-more">
      We will work with your providers and your administrators to create a solution that fits your patients' needs. Learn more about what HealthTracker can do.
      <br><br>
      <a href="/learn-more" class="btn btn-primary btn-large">Learn More</a>
    </div>
    <div class="graph"></div>
  </div>
</div>
{% endblock %}
