{% extends "layout.html" %}
{% block body %}
<br>
<div class="wrapper">
  <h1>Coming soon...</h1>

  <p class="lead">If you're interested in working with us to test HealthTracker in your practice or organization, <a href="/">sign up with us on the front page</a> and we'll be in touch with you soon.</p>

  <section>
    <br><br>
    <caption>Example patient list</caption>
    <br>
    <img src="/static/img/patient-list.png" class="img img-polaroid">
  </section>

  <section>
    <br><br><br><br>
    <caption>Example patient portal</caption>
    <br>
    <img src="/static/img/ptportal.png" class="img img-polaroid">
  </section>

  <br><br><br>
</div>
{% endblock %}
