{% extends "layout.html" %}
{% block head %}
<script src="static/js/tracker.js"></script>

<style>
.statuses rect {
  fill: steelblue;
  stroke: white;
}
</style>
{% endblock %}

{% block body %}

<div class="container">

  <div class="tracker-holder">
    <p class="lead">We'll keep track of your health for you, so you can see how you feel over time.</p>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="status-report">
      <h3>Historical Wellbeing Report <small>{{ statuses|length }} total updates</small></h3>
      <div class="statuses" data-statuses="{{statuses|safe}}">
        
      </div>

    </div>

    <i class="muted">Features are being added all the time, so we'll be sure to keep you updated! We want HealthTracker to be a pain-free way to keep yourself pain-free, knowledgeable, and in control of your health.</i>
  </div>
</div>

{% endblock %}
