body { background: url("/static/img/bg.png"); }

.sign-up { width: 500px; margin: 40px auto 0; padding: 55px; }
.sign-up img.wordmark { margin-left: 20px; width: 447px; }
.sign-up form { width: 300px; margin: 23px auto 0; }
.sign-up form input { width: 285px; } 
