body { padding: 0; margin: 0;}

.section-container { margin: 0 auto; float:none;}

.container-top { background: url("/static/img/bg-img.jpg") no-repeat; 
                 width:1200px; height:800px; 
                 margin: 0 auto; position: relative; }

.sign-up { width: 500px; padding: 55px; position: relative; top: 45px; left: 45px; 
           border: 1px solid grey; border-radius: 5px; background: rgba(0,0,0,.5);}
.sign-up .lead { color: white; }
.sign-up .wordmark { text-align: center; margin-bottom: 45px; margin-top: 13px;
                     font-family: 'Open Sans', sans-serif; font-size: 77px; color: white; }
.sign-up form { width: 300px; margin: 40px auto 0; }
.sign-up form input { width: 285px; } 
.sign-up form label { }
.sign-up .privacy-notice { margin-top: 50px; display: block; color: white; }


.container-middle { margin-top: 77px; padding-left: 23px; 
                    height: 800px; position: absolute; }
.container-middle h1 { font-family: 'Open Sans', sans-serif; font-size: 53px; 
                       line-height: 1.2em;}
.container-middle ul { list-style: bullet; }
.container-middle li { font-size: 33px; font-color: #cdcdcd; margin: 20px;}
.container-middle div { height: 221px; padding-top: 33px; }
.container-middle .learn-more { padding-top: 90px; z-index: 2; }
.container-middle .learn-more a.btn { margin-left: 90px; }
.container-middle .graph { height: 318px; width: 775px; margin-top: 38px; float: left;
                           position: relative; left: 33px;  z-index: -1;
                           opacity: 0.7; display: block;
                           background: url("/static/img/graph.png") no-repeat;}

.tracker-holder { margin-top: 33px; }

/* ul.console-table { margin-top:33px !important; } */
/* .console-table { margin: 0 auto !important; float: none !important; width: 800px; } */

div.wrapper { margin: 20px auto; width: 800px;}

.table-details { margin: 0 0 37px -18px; }

tfoot { border-top: 1px solid #cdcdcd; }
tfoot td { border: 0 !important; }
tfoot td { text-align: right !important; padding-right: 100px !important; }

.table-details { padding: 27px 0 37px 20px; }
