{% extends "layouts/layout.html" %}
{% block head %}
<script src="/tracker/static/tracker.js"></script>

<style>
body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
</style>
{% endblock %}

{% block body %}

<div class="container">
  <div class="tracker-holder">
    {%- include "macros/flash.html" -%}
    {%- for question in questions -%}
    <div class="status-report">
      <h3>{{ question['name'] }}</h3>
      <p>{{ question['text'] }}</p>
      <div class="answers" data-answers='{{ question['answers']|safe }}'></div>
    </div>
    {%- endfor -%}
  </div>
</div>

{% endblock %}
