{% extends "layouts/layout.html" %}
{% block head %}
<script src="/tracker/static/tracker.js"></script>

<style>

.y.axis .tick {
  font: 12px sans-serif;
  font-weight: bold;
}
.x.axis .tick {
  font: 10px sans-serif;
}

.axis path {
  display: none;
}

.d3tt {
  display: none;
}

.status-report:hover .d3tt {
  display: block;
}

.line {
  fill: none;
  stroke: blueviolet;
  stroke-width: 1px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

</style>
{% endblock %}


{% from 'macros/user_nav.html' import user_nav with context %}
{% block body %}
<div class="container">
  {{ user_nav("tracker") }}
  <h3>Welcome back, {{ user.name or user.email }}.</h3>
  
  <div class="tracker-holder">
    {{ flash() }}

    {% for question in questions %}
    <div class="status-report {{ question.qtype }}">
      <h3>{{ question['name'] }}</h3>
      <p>{{ question['text'] }}</p>
      <div class="answers" data-answers='{{ question['answers'] | safe }}'
           data-qmax="{{ question['qmax'] }}"
           data-qmin="{{ question['qmin'] }}"></div>
    </div>
    {% endfor %}

  </div>
</div>
{% endblock %}
