{% extends "layouts/layout.html" %}
{% block head %}
<script src="/tracker/static/tracker.js"></script>

<style>

.y.axis .tick {
  font: 12px sans-serif;
  font-weight: bold;
}
.x.axis .tick {
  font: 10px sans-serif;
}

.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: blueviolet;
  stroke-width: 1px;
}

</style>
{% endblock %}

{% block body %}

<div class="container">
  
  <h3>Welcome back, {{ user.name or user.email }}.</h3>
  
  <div class="tracker-holder">
    {%- include "macros/flash.html" -%}

    {%- for question in questions -%}
    <div class="status-report">
      <h3>{{ question['name'] }}</h3>
      <p>{{ question['text'] }}</p>
      <div class="answers" data-answers='{{ question['answers'] | safe }}'></div>
    </div>
    {%- endfor -%}

  </div>
</div>

{% endblock %}
